---
layout: layouts/main.vto
---
<article>
<h1>{{ title }}</h1>
{{ content }}
</article>

<div class="organizations-grid">
{{for org of search.pages("type=organization !path.endsWith('index.md')")}}
  {{if !filter || org.categories.includes(filter)}}
    {{ include "templates/partials/card.vto" {item: org, type: "organization"} }}
  {{/if}}
{{/for}}
</div> 